@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<CarrelloDettaglioModel>
@{
}
<h1>Carrello</h1>
@foreach(var cd in Model)
{
    <div>@cd.NomeProdotto</div>
}
