@using LabForWeb.MVC.Models
@model CategoriaDTO

<h3>Form nuova Categoria</h3>
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Nome" class="form-label">Nome</label>
        <input asp-for="Nome" type="text" class="form-control" placeholder="Inserire il nome della categoria..." />
    </div>
    <button type="submit" class="btn btn-success">Salva</button>
</form>
