@using LabForWeb.MVC.Models
@model IEnumerable<ProdottiGalleryPartialModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Amazon dei povery</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

@foreach (var gallery in Model.Select((value, index)=> new {Valore = value, Indice = index} ))
{
    @* @if (gallery.Prodotti.Count() > 0)
    {
        
    } *@

    <partial name="_ProdottiGalleryPartial" model="@gallery.Valore" />
    @if(gallery.Indice < Model.Count()-1)
    {
        <hr />
    }
    
    
}