@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<img src="/images/ciabatte.png" alt="Ciabatte con il pelo" title="Ciabatte con il pelo rosa" />
